
<!--
the context is  {'contract':contract_data, 'node':node_data}
the 'contract'=(c, p, cp, obl_sorted) with contract, entity-party, entity-counterparty, list of obligations-mixture of sale of goods, services montetary obligations
the 'node'=(balance, info) with (balance response object, info response object), where the response object is the response from the calls to the ln node 
-->

{% extends "contracts/contract_base.html" %} 
{% block party_ln_node %}

<div class="row">
  <div class="col-sm-16 col-md-16">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">{{contract.1.name}} LN Node:</h5>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <tbody>
                <tr>
                  <td>Balance:  {{node.0.total_balance}}</td>
                </tr>        
                  <td>Public Key:  {{node.1.identity_pubkey}}</td>
                </tr>
                {% block cp_connection %}
                {% endblock %}
                {% block channel_open %} 
                {% endblock %} 
                
                </tbody>                                 
              </tbody>
            </table>
          </div>
          <p class="card-text">Some status text for the node maybe?</p>            
        </div>
      </div>
</div>
   
{% endblock %}


<!--

                <tr>
                  <td><a href="/contracts/connect_cp/{{contract.2.pk}}" class="btn btn-sm btn-primary">Connect Counterparty</a></td>
                </tr>   



-->