
{% extends "contracts/base.html" %} 
{% block main %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>

      <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="card" style="width: 36rem;">
            
            <div class="card-body">
              <h5 class="card-title">Party</h5>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <tbody>
                    <tr>
                      <td>LN Node</td>
                      <td>Status:  Not Connected</td>
                      <td><a href="/contracts/connect/" class="btn btn-primary">Connect</a></td>
                    </tr>                   
                  </tbody>
                </table>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="card" style="width: 36rem;">
            
            <div class="card-body">
              <h5 class="card-title">Counterparty</h5>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <tbody>
                    <tr>
                      <td>LN Node</td>
                      <td>Status:  Not Connected</td>
                      <td><a href="#" class="btn btn-primary">Connect</a></td>
                    </tr>                   
                  </tbody>
                </table>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>    
        </div>
      </div>

      

      <h2>Contract Obligations</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Contract Milestone</th>
              <th scope="col">Obligor</th>
              <th scope="col">Due</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>text</td>
              <td>button</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>placeholder</td>
              <td>irrelevant</td>
              <td>visual</td>
              <td>layout</td>
              <td>button</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>data</td>
              <td>rich</td>
              <td>dashboard</td>
              <td>tabular</td>
              <td>button</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>information</td>
              <td>placeholder</td>
              <td>illustrative</td>
              <td>data</td>
              <td>button</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>text</td>
              <td>random</td>
              <td>layout</td>
              <td>dashboard</td>
              <td>button</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </main>
 {% endblock %}